@import "tailwindcss";

@theme {
  --font-outfit: 'Outfit', sans-serif;
  --color-background: #111111;
  --color-foreground: #ffffff;
}

:root {
  --background: #111111;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Custom Selection */
::selection {
  background-color: #d4af37;
  color: #000;
}

/* Lenis */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
